# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/


# Linux
.directory